language: java

jdk:
  #- oraclejdk11
  - openjdk11
  #- openjdk8

#after_success:
#  - ./gradlew jacocoTestReport coveralls
#  - ./mvnw jacoco:report coveralls:report

before_script:
  - chmod +x gradlew

script:
  - ./gradlew check
  - ./gradlew jacocoTestReport

after_success:
  - bash <(curl -s https://codecov.io/bash)
  - ./gradlew jacocoTestReport coveralls

notifications:
  email:
    - pambrose@mac.com