language: java

jdk:
  #- oraclejdk11
  - openjdk11
  #- openjdk8

after_success:
  - ./gradlew jacocoTestReport coveralls
#  - ./mvnw jacoco:report coveralls:report

notifications:
  email:
    - pambrose@mac.com