name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
      - uses: gradle/actions/setup-gradle@v4
      - run: ./gradlew clean build -x test
#      - run: ./gradlew test --tests "io.prometheus.agent.*"
#      - run: ./gradlew test --tests "io.prometheus.proxy.*"
#      - run: ./gradlew test --tests "io.prometheus.common.*"
#      - run: ./gradlew test --tests "io.prometheus.misc.*"
